@keyframes blinkRed {
  0% {
    border-color: initial;
    box-shadow: inset 0px 0px 4px transparent;
  }
  to {
    border-color: red;
    box-shadow: inset 0px 0px 4px red;
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInDownBigReverse {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
}
@keyframes shine {
  from {
    background: grey;
  }
  to {
    background: rgb(148, 148, 148);
  }
}
