html {
  height: 100%;
}
body {
  background-color: $clr-primary;
  color: $clr-secondary;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  height: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: 900;
}
h2 {
  font-size: 1.5rem;
  font-weight: 900;
}
main {
  max-width: 900px;
  padding: 1rem;
  width: 100%;
  margin-top: 3.5rem;
  margin-inline: auto;
}
.loginInput {
  padding: 0.5rem;
  border-radius: 1000vh;
  border: 2px solid;
  border-color: $clr-secondary;
  font-size: 1.2rem;
  text-indent: 0.5rem;
}
button {
  background-color: $clr-secondary;
  color: $clr-primary-low;
  padding: 0.5rem 2rem;
  border-radius: 1000vh;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  border: 2px solid $clr-secondary;
  @media (hover: hover) {
    &:hover {
      background-color: $clr-primary;
      color: $clr-secondary;
      border: 2px solid $clr-secondary;
    }
  }
}
select {
  border: 1px dashed $clr-secondary-low;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}
input[type="text"]:not(.loginInput) {
  border: 1px dashed $clr-secondary-low;
  border-radius: 5px;
  padding: 0.5rem;
}
