.invoiceGrid,
.companyGrid,
.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  & > * {
    margin-top: 0.3rem;
  }
  & > *:nth-child(even) {
    text-align: right;
  }
}
.invoiceControls,
.companyControls,
.contactControls {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
