.companyGrid {
  position: relative;
  isolation: isolate;
  &__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    &.adress {
      & > *:not(h3) {
        grid-column: span 2;
        @media screen and (min-width: 550px) {
          grid-column: auto;
        }
      }
    }
    &--child {
      &.name {
        grid-column: span 2;
        justify-self: center;
        display: grid;
        justify-items: center;
        padding-block: 1rem;
        span:last-child {
          font-size: 2rem;
          font-weight: 600;
        }
      }
      &.adress {
        display: grid;
      }
    }
    @media screen and (min-width: 750px) {
      max-width: 60%;
    }
    h3,
    legend {
      font-size: 1.5rem;
      grid-column: span 2;
      text-align: center;
      text-decoration: underline;
      padding-block: 1rem;
      position: relative;
      margin: 0 auto;
      font-weight: 600;
      #addCompanySelector {
        position: absolute;
        bottom: 25%;
        right: -3rem;
      }
      #removeCompanySelector {
        position: absolute;
        bottom: 25%;
        right: -5.5rem;
      }
    }
    .labels {
      color: var(--clr-text-low);
    }
  }
  .decoration {
    display: none;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    opacity: 10%;
    @media (min-width: 550px) {
      display: block;
    }
    @media (min-width: 750px) {
      opacity: 1;
      width: 40%;
    }

    svg {
      height: 100%;
      width: 100%;
      object-fit: contain;
      #plant,
      #shirtMain,
      #shirtSleeve,
      .paperContent {
        fill: var(--clr-text);
      }
      .paperBack {
        fill: var(--clr-text-low);
      }

      #circle,
      #line {
        fill: var(--clr-text-low);
      }
    }
  }
}
.contactGrid {
  position: relative;
  isolation: isolate;
  .labels {
    color: var(--clr-text-low);
  }
  &__section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    &--child {
      flex: 1 1 calc(50% - 1rem);
      &.infos {
        display: flex;
        flex-wrap: wrap;
        & > * {
          flex: 1 1 100%;
        }
      }
      &.selectors {
        display: flex;
        flex-wrap: wrap;
        & > * {
          flex: 1 1 100%;
        }
      }
    }
    h3,
    legend {
      color: var(--clr-text);
      font-size: 1.5rem;
      text-decoration: underline;
      text-decoration-color: var(--clr-text-low);
      padding-top: 2rem;
      flex: 1 0 100%;
      text-align: center;
      position: relative;
      font-weight: 600;
      #addCompanySelector {
        position: absolute;
        bottom: 33%;
        right: -3rem;
      }
      #removeCompanySelector {
        position: absolute;
        bottom: 33%;
        right: -5.5rem;
      }
      @media screen and (min-width: 550px) {
        padding-left: 33%;
        text-align: unset;
      }
    }
    legend {
      padding-bottom: 1rem;
    }
    .bigger {
      font-weight: 600;
      font-size: 2rem;
    }
    @media screen and (min-width: 750px) {
      max-width: 60%;
    }
  }
  .decoration {
    display: none;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    opacity: 10%;
    @media (min-width: 550px) {
      display: block;
    }
    @media (min-width: 750px) {
      opacity: 1;
      width: 50%;
    }

    svg {
      height: 100%;
      width: 100%;
      object-fit: contain;
      #plant,
      #shirtMain,
      #shirtSleeve,
      .paperContent {
        fill: var(--clr-text);
      }
      .paperBack {
        fill: var(--clr-text-low);
      }

      #circle,
      #line {
        fill: var(--clr-text-low);
      }
    }
  }
  button {
    margin-top: 1rem;
  }
}
.invoiceGrid {
  margin-top: 2rem;
  position: relative;
  h2 {
    margin-bottom: 2rem;
  }
  #invoiceReference {
    font-weight: 600;
  }
  .labels {
    color: var(--clr-text-low);
  }
  &__section {
    padding-block: 0.5rem;
    &--ref {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      & > * {
        flex: 1 0 100%;
      }
      @media screen and (min-width: 400px) {
        gap: 2rem;
        flex-wrap: nowrap;
        & > * {
          flex: unset;
        }
      }
      @media screen and (min-width: 750px) {
        max-width: 60%;
      }
    }
    &--payment {
      h3 {
        font-size: 1.5rem;
        text-decoration: underline;
        text-decoration-color: var(--clr-text-low);
        text-align: center;
        padding-block: 1rem;
      }
      .total {
        padding-bottom: 1rem;
        &__value {
          font-size: 2rem;
          font-weight: 900;
        }
      }
    }
    &--relations {
      h3 {
        font-size: 1.5rem;
        text-decoration: underline;
        text-decoration-color: var(--clr-text-low);
        text-align: center;
        padding-block: 1rem;
      }
      .company {
        padding-bottom: 1rem;
        &__value {
          font-size: 2rem;
          font-weight: 900;
        }
      }
    }
  }
  input {
    max-width: 100%;
  }
  .decoration {
    display: none;
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    @media (min-width: 750px) {
      display: block;
    }
    svg {
      height: 100%;
      width: 100%;
      object-fit: contain;
      #plant,
      #shirtMain,
      #shirtSleeve {
        fill: var(--clr-text);
      }

      #circle,
      #line {
        fill: var(--clr-text-low);
      }
    }
  }
  .lowerBlock {
    padding-top: 1rem;
    margin: 0 auto;
    @media screen and (min-width: 500px) {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      & > * {
        flex: 0 1 calc(50% - 2rem);
        max-width: 50%;
        & > * {
          max-width: 90%;
        }
      }
      h3 {
        text-align: unset;
      }
    }
    @media screen and (min-width: 750px) {
      max-width: 60%;
      margin: unset;
    }
  }
}
.invoiceControls,
.companyControls,
.contactControls {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.companyContainer {
  display: flex;
  .companyCard {
    flex: 1 1 50%;
    p:first-child {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
