.reports {
  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 2rem;
  }
  .canvasContainer {
    position: relative;
    @media screen and (min-width: 600px) {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
