.table {
  width: 100%;
  th {
    color: $clr-secondary;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
    padding: $tableSpacing calc($tableSpacing/2);
  }
  td {
    padding: $tableSpacing calc($tableSpacing/2);
  }
  .thContainer {
    display: grid;
    grid-template-columns: auto min-content;
  }
  .contactIcon,
  .companyIcon,
  .invoiceIcon {
    .thContainer {
      i {
        display: none;
      }
    }
  }
  .filtersRow th {
    padding: 0;
  }
  /* COMPANY SETTINGS */
  td.companyName {
    cursor: pointer;
  }
  .companyName {
    font-weight: bold;
  }
  @media screen and (max-width: 700px) {
    .companyVat {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .companyAdded {
      display: none;
    }
  }
  @media screen and (max-width: 400px) {
    .companyType {
      display: none;
    }
  }
  /* CONTACT SETTINGS */
  td.contactName,
  td.contactContactcompany {
    cursor: pointer;
  }
  .contactName {
    font-weight: bold;
  }
  @media screen and (max-width: 900px) {
    .contactEmail {
      display: none;
    }
  }
  @media screen and (max-width: 760px) {
    .contactPhonenumber {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .contactAdded {
      display: none;
    }
  }
  @media screen and (max-width: 400px) {
    .contactContactcompany {
      display: none;
    }
  }
  /* INVOICE SETTINGS */
  td.invoiceReference,
  td.invoiceCompany,
  td.invoiceContact {
    cursor: pointer;
  }
  .invoiceReference {
    font-weight: bold;
  }
  @media screen and (max-width: 1000px) {
    .invoiceContact {
      display: none;
    }
  }
  @media screen and (max-width: 790px) {
    .invoiceReceived {
      display: none;
    }
  }
  @media screen and (max-width: 660px) {
    .invoiceCompany {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .invoicePaid {
      display: none;
    }
  }
  @media screen and (max-width: 400px) {
    .invoiceAmount {
      display: none;
    }
  }
  td:first-child {
    width: 0rem;
  }
  .fas.fa-arrow-alt-circle-down,
  .fas.fa-arrow-alt-circle-up {
    font-size: 1rem;
    &.unSorted {
      color: $clr-secondary-low;
    }
    &.sorted {
      color: $clr-secondary;
    }
  }
}
