$clr-primary: #e7ecef;
$clr-primary-low: #f8f8fb;
$clr-secondary: #274c77;
$clr-secondary-half: #516f91;
$clr-secondary-low: #879cb3;

.companyName {
  font-weight: bold;
}
.companyType {
  font-size: 0.8rem;
  color: $clr-secondary-low;
}
@media screen and (max-width: 768px) {
  .companyVat {
    display: none;
  }
}
