@import "reset";
@import "vars";
@import "defaults";
#app {
  display: grid;
  grid-template-rows: auto max-content;
  min-height: 100%;
}

.footer {
  margin-top: 3rem;
  background: $clr-primary-low;
  padding-block: 1rem;
  text-align: center;
  border-top: 1px solid $clr-secondary-low;
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
.svgContainer {
  display: flex;
  justify-content: center;
  position: relative;
  #svg {
    fill: $clr-secondary;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@import "header";
@import "card";
@import "mobilemenu";
@import "login";
@import "homepage";
@import "invoiceSolo";
@import "forms";
@import "tables";
@import "filters";
@import "fetching";
@import "toast";
